.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Make sure the container's flex direction is set to 'row' */
  text-align: center;
  margin-top: 150px;
}


.cyf-social {
  margin: 10px; 
  border: 1px solid black; 
  width: 400px;
  height: 400px;
  text-align: center; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.signup {
  margin: 10px; /* Add some spacing between the two divs */
  border: 1px solid black; /* Add a black border */
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.c, .y, .f, .s, .o, .i, .a, .l {
  display: inline-block; 
}

.c {
  color: red;
}

.y {
  color: black;
}

.f {
  color: black;
}

.s {
  color: orange;
}

.o {
  color: blue;
}

.c2 {
  color: rgb(254, 5, 204);
}

.i {
  color: green; 
}

.a {
  color: rgb(190, 184, 33); 
}

.l {
  color: rgb(255, 113, 137); 
}

.cyf-social {
  font-weight: bold;
  font-size: 40px;
}

.space{
  margin-left: 7px;
  margin-right: 7px;
}

.line{
    border-top: 2px solid rgb(251, 96, 96);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.input{
    height: 40px;
    border-radius: 6px;
}
